.text-indent__p{
    text-indent: 50px;
}

.letter-spacing__p1{
    letter-spacing: 5px;
}

.letter-spacing__p2{
    letter-spacing: 2px;
}

.line-height__p1{
    line-height: 0.8;
}
.line-height__p2{
    line-height: 1.8;
}
.word-spacing__p1{
    word-spacing: 10px;
}
.word-spacing__p2{
    word-spacing: -2px;
}

.white-spacing{
    
    border: solid red 2px;
}

.white-spacing__p1{
    border: solid red 5px;
    text-align: center;
}
.white-spacing__p2{
    white-space: normal;
}
.white-spacing__p3{
    white-space: pre;
}
.white-spacing__p4{
    white-space: pre-line;
}
.white-spacing__p5{
    white-space: pre-wrap;
}
.white-spacing__p6{
    white-space: wrap;
}
.white-spacing__p7{
    white-space: nowrap;
}
.white-spacing__p8{
    white-space: collapse;
}