h1{
    color: whitesmoke;
    background-color: red;
    height: 240px;
    width: 400px;
}

h2{
    text-decoration: line-through;
}

h3{
    text-decoration: overline;
}

h4{
    text-decoration: underline;
}

h5{

    text-decoration: underline;
    text-decoration-style: dashed;
}